body{

    font-family: 'Courier', 'Impact', 'Arial','Libre Baskerville', 'sans-serif';
    /*font-size:10px;*/
    /* max-width: 700px; */
    /* border: 10px solid red; */
    padding: 10px;
    width: 95%;
    margin: 5%;
    border: 2px;
    border-style: solid;
    border-color: salmon;
    background-color: HoneyDew;
    line-height: 1.6em;


}

#daily-logs a{
      color: turquoise;
    }

p{
margin: 10px 10px 10px 10px;
}

section{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

div{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

hr{
  margin: 1px;
}


/* css for tic-tac-toe & photogallery */

.pix{
    /* width: 15%; */
    float: left;
    width: 5%;
    height: 5%;
    /* margin: 1.66%; */

}

.logDetail{

    border: 5px;
    background-color: #eee;

}

#gallerypix{

    font-family: Josefin Slab;
    /* margin-left: 1.66%; */
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 100%;
    height: 100%;
    /* padding-bottom: 10px; */
}

#gallery{

    /* margin-left: 1.66%;
    
    border-bottom: 2px solid #f1f1f1;
    width: auto;
    height: 50%;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    
    padding-bottom: 10px; */
}
