body{

    font-family: 'Courier', 'Impact', 'Arial','Libre Baskerville', 'sans-serif';
    /*font-size:10px;*/
    /* max-width: 700px; */
    /* border: 10px solid red; */
    padding: 5%;
    width: 80%;
    margin: auto;
    background-color: HoneyDew;
    line-height: 1.6em auto;

    /*
    border: 2px;
    border-style: solid;
    border-color: salmon;
    */



}

#daily-logs a{
      color: turquoise;
    }

p{
margin: 1px;
}


div{
  margin: 1px;
  padding: 1px;
}

form {
  margin:5px;
}

hr{
  margin: 1px;
}


/* css for tic-tac-toe & photogallery */



.logDetail{

    background-color: #eee;
    padding: 10px auto;
    margin:10px auto;
    border: 5px salmon solid;

}

#gallerypix{

    font-family: Josefin Slab;
    /* margin-left: 1.66%; */
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 100%;
    height: 100%;
    /* padding-bottom: 10px; */
}

section{
height: 20px;
}

/* https://www.w3schools.com/howto/howto_css_images_side_by_side.asp  2021-08-13 1:11am */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.pix {
  float: left;
  width: 15%;
  padding: auto;
}

/* Clear floats after image containers */
.frame::after {
  content: "";
  clear: both;
  display: table;
}